.bgimg1{
   opacity: 0.4;
}

.thumbnail {
    position: relative;
}

.img2{
    width: 15%;
}

.imgr{
    width: 100%;
    opacity: 0.8;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.nadj p{
    font-size: 15px;
}

.btnpad{
    margin:1px auto;
}

.btnpad1{
    position: relative;
    float: right;
}

#section1 {padding-top:10px;min-height:100%;color: black; background-color: #f1a3b4;}
#section2 {padding-top:10px;min-height:100%;color: black; background-color: #c9bbf5;}
#section3 {padding-top:10px;min-height:100%;color: black; background-color: #a4f0ca;}
#section4 {padding-top:10px;min-height:100%;color: black; background-color: #e9c378;}
#section5 {padding-top:10px;min-height:100%;color: black; background-color: #edeea7;}