
hr{

}
.sab-heading{
		margin-top:35px; 
	}


.sab-heading p{

	text-align:center;
	margin:0;
	 font-size: 16px;
	 font-weight: 300;  
	  line-height: 1.625;
	   font-family: 'Source Sans Pro', helvetica, sans-serif, arial;

}
.sab-techtalks 	{
	margin-top:30px; 
}


 .sab-heading h2{
	margin-top:10px; 
	text-align:center;


}	
.sab-heading2{
	margin-top:5%; 
}








/*.sab-img img{
 	transition-duration:1s;
 	transform:scale(1);
 }*/


.sab-para{
position:relative; 
right :10px;  
top:20px;  
}

.sab-hr1{

 border:1px solid black; width:200px;
}
.sab-hr2{

 border:1px solid black; width:100px;
}


.sab-hr3{

 border:1px solid black; width:300px;
}



.img-class
 {
 margin-top:50px; 
 margin-left:30px; 
 position: relative;
 border: 1px solid #333;
 overflow: hidden;
 width: 400px;
 height:269px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 .img-class img {
  max-width: 100%;
  
}
 
 .sab-img img:hover {
 	opacity:.5;
   cursor:pointer;
   overflow:hidden;
 	transition-duration:1s;
 	transform:scale(1.1);
 	

 }




.sab-img p{
    margin-left:10%;
    margin-top:10px; 
    font-weight:bold; 

}


.sab-heading2 h2{
	text-align:center; 
}



.sab-span1{
	color:#D70000;
}

.sab-img2{
	left:15px;
	
}
#sab-booksimage{
padding-top:12.3px; 
height:93.5%;
}

#sab-images1{
	margin-top:12.5px; 
}













/* 
 .imageclass1{
 	margin-top:12px; 
 	border: 1px solid #333;
 overflow: hidden;
 width: 300px;
 height:250px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }
*/

.imageclass1
 {
 
margin-top:13px; 
 
 border: 1px solid #333;
 overflow: hidden;
 width: 300px;
 height:250px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 .imageclass1 img {
   position: relative;
   bottom:12px; 
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height:100%; 
}

#sab-images1:hover {
 	opacity:.5;
   cursor:pointer;
   overflow:hidden;
 	transition-duration:1s;
 	transform:scale(1.1);
 	

 }