.sridhar-card1{
width: 30rem;
 height: 60rem; 
 background-color:#9AC582;
  margin-left: 660px;

}

.sridhar-card2{
	width: 25rem;
	 height: 70rem;
	  background-color:#55A5CA;
	   margin-left: 719px;
}

.sridhar-img1{
	width: 70%;
}

.sridhar-card3{
	 background-color:#3EB6C2;
	/* margin-left: 740px;*/
	position: fixed;
	width: 12.5%;
	margin-right: 10%;
	height: 100%;
}

.sridhar-card4{
     background-color:#3EB6C2;
    position: fixed;
    width: 12%;
    margin-right: 10%;
    height: 100%;
}

.sridhar-imglast{
    margin-top: 220px;
}


.sridhar-card5{
      background-color:#3EB6C2;
    position: fixed;
    width: 12.2%;
    margin-right: 10%;
    height: 100%;
}

.sridhar-img{
   width:
}

div.scrolll {
   
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/*whyus css*/


 .sridharnav .nav-pills {
      top: 20px;
      position: fixed;
  }


  .sridhar-card6{
   
    position: fixed;
    width: 120%;
  }


  #myImg:hover {opacity: 0.5;}


.container {
    position: relative;
    width: 50%;
}


/*WEBINAR*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
 
  color: white;
  font-size: 50px;
  padding: 16px 32px;
}


/*placement of the week*/

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
 
  color: white;
  font-size: 50px;
  padding: 16px 32px;
}