.sridhar-card1{
width: 30rem;
 height: 60rem; 
 background-color:#9AC582;
  margin-left: 660px;

}

.sridhar-card2{
	width: 25rem;
	 height: 70rem;
	  background-color:#55A5CA;
	   margin-left: 719px;
}

.sridhar-img1{
	width: 70%;
}

.sridhar-card3{
	 background-color:#3EB6C2;
	/* margin-left: 740px;*/
	position: fixed;
	width: 12.5%;
	margin-right: 10%;
	height: 100%;
}

.sridhar-card4{
     background-color:#3EB6C2;
    position: fixed;
    width: 11.5%;
    margin-right: 10%;
    height: 100%;
}

.sridhar-imglast{
    margin-top: 180px;
}


.sridhar-card5{
      background-color:#3EB6C2;
    position: fixed;
    width: 11.5%;
    margin-right: 10%;
    height: 100%;
}